{% extends "layout.html" %}

{% block title %} History {% endblock %}


{% block main %}

    <table>
        <tr>
            <th colspan="7"> Transaction History </th>
        </tr>
        <tr>
            <th> Order Id </th>
            <th> Symbol </th>
            <th> Company </th>
            <th> Shares </th>
            <th> Price </th>
            <th> Type </th>
            <th> Date </th>
        </tr>
        {% for row in history %}
        <tr>
            <td> {{ row.id }} </td>
            <td> {{ row.symbol }} </td>
            <td> {{ row.company }} </td>
            <td> {{ row.shares }} </td>
            <td> {{ row.price | usd}} </td>
            <td> {{ row.type }} </td>
            <td> {{ row.date }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
